/.fleet
/.idea
/.phpunit.cache
/.vscode
/database/*.checksum
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/clockwork*
/storage/generator
/vendor
.env
.env.*
.phpactor.json
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
